.paper {
    margin: 30px;
    padding: 20px;
    border-radius: 0 !important;
}

.choice {
    padding: 10px;
    border-radius: 0 !important;
    cursor: pointer;
}

.question {
    padding-bottom: 20px;
}

.question-title {
    text-align: center;
}

.correct {
    background-color: green !important;
    color: #ffffff;
}

.wrong {
    background-color: rgb(255, 0, 0) !important;
    color: #ffffff;
}

#btnNextQuestion {
    visibility: hidden;
    display: none;
    margin-left: 10px;
    margin-top: 5px;
}